<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">

    <title>I2P</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/cover.css" rel="stylesheet">
</head>

<body class="text-center">

<div class="cover-container d-flex w-100 h-200 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
        <h1 class="cover-heading"> Darknet</h1>
        <p class="lead">
            <a href="http://223.3.92.178:8000/show/show.html" class="btn btn-lg btn-secondary">Tor</a>
        </p>
        <p class="lead">
            <a href="index" class="btn btn-lg btn-secondary">I2P</a>
        </p>
    </main>
    <img src="../static/photo/darknet.jpeg">
    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Southeast University <a href="http://www.seu.edu.cn/">SEU</a>, by <a
                    href="http://cse.seu.edu.cn/CSE/UI/">@cse</a>.</p>
        </div>
    </footer>
</div>

</body>
</html>
